<div class="navbar-wagon">
  <!-- Logo -->
  <%# <a href="/index.html" class="navbar-wagon-brand">
    <img src="images/wagon_logo.png" alt="logo">
  </a> %>

  <% link_to "/index.html", class: "navbar-wagon-brand" do %>
    <%= image_tag "images/wagon_logo.png"  %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="/postjob.html" class="navbar-wagon-item navbar-wagon-link">Post a Job</a>
    <a href="/about.html" class="navbar-wagon-item navbar-wagon-link">About</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/postjob.html" class="navbar-wagon-item navbar-wagon-link">Post a Job</a></li>
        <li><a href="/about.html" class="navbar-wagon-item navbar-wagon-link">About</a></li>
      </ul>
    </div>
  </div>
</div>
