#logo {
  width: 200px;
  display: block;
  margin: 30px auto 40px auto;

}

#home {
  color: $gray;
  height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // text-align: center;
}

.home-title {
  font-family: Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 100;
  color: $red;
  text-align: center;
  line-height: 2.5em;
}

