#logo {
  width: 200px;
  display: block;
  margin: 30px auto 40px auto;

}

#home {
  color: $gray;
  height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // text-align: center;
}

