#logo {
  width: 200px;
  display: block;
  margin: 30px auto 40px auto;

}

#home {
  color: $gray;
  height: 100vh;
  margin-bottom: 30px;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // text-align: center;
}

.home-title {
  font-family: Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 100;
  color: $red;
  text-align: center;
  line-height: 2.5em;
}

.home-wrap {
  margin-bottom: 100px;
}

@media (max-device-width: 667px) {
  .home-title {
    font-size: 63px;
    line-height: 1.2em;
  }
}

