---
title: About - Tokyo Jobs
---

<div id="about">

  <%= image_tag "logo_circle.png", class: "logo-about" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="about-content text-justify">

          <p class="text-center">#Tokyo Jobs has initially been created to help Le Wagon Tokyo Alumni in their job search.</p>

          <p> Le Wagon is a coding school bringing technical skills to creative people. Our 9-week coding bootcamp gives you the ability to build a prototype of any idea you might have. No technical background needed, just your motivation.</p>

          <p class="text-center"><%= link_to "Get more info", "https://www.lewagon.com/tokyo", class: "btn btn-danger", target: "_blank" %></p>

          <p>2080+ students already graduated from Le Wagon. Our alumnis found positions as Junior Web Developers, Product Managers (who can code, huge!), Technical Sales, etc. Others started their company, raised money, built a team. Others got back to their old job with their new superpowers. </p>

          <%= image_tag "background.jpg", class: "img-responsive" %>

        </div>
      </div>
    </div>
  </div>

</div>
