---
title: About - Tokyo Jobs
---

<div id="about">

  <%= image_tag "logo_circle.png", class: "logo-about" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="about-content">
          <h1>This is about</h1>
        </div>
      </div>
    </div>
  </div>

</div>
