<h1>Where can you find us?</h1>

<ul class="list-inline">
  <% %w(berlin shanghai paris tokyo rio).each do |city| %>
    <li>
      <img src="https://kitt.lewagon.com/placeholder/cities/<%= city %>" class="img-rounded" height="100px" >
      <p><%= city.capitalize %></p>
    </li>
  <% end %>
</ul>