<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="about-wrapper text-justify">
        <h1>Do you want to get a job listed on this website?</h1>

        <p>In order to have your position or company posted, please send us an email at <%= mail_to "tokyo@lewagon.org", "tokyo@lewagon.org" %> with the following information:</p>
        
        <ul>
          <li>Company Name</li>
          <li>Position Name</li>
          <li>Description & Requirements</li>
          <li>Level of Japanese required</li>
          <li>Contact address for applicants</li>
          <li>Link to your website</li>
        </ul>

        <p>The position might then take a few days to appear online. </p>
      </div>
    </div>  
  </div>
</div>



